body {
    background-color: #E3DECA; 
}

main {
    max-width: 1200px;
    color: #31231D;
}

header {
    padding-top: 10px;
    color: #EBF7E3;  /* rgb(rgb(235,247,227) */
}

.bg-light {
    background-color: transparent !important;
}

p {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2, h3 {
    color: #3C3A1E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.kaffia {
    margin: 20px 10px;
    width: 10em;
}

/* Navbar */

.navbar-nav {
    float: none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.nav-link {
    color: #31231D !important;
}

.navbar-toggler {
    border-color: rgba(235,247,227,1) !important;
}

/* Karuselli */

.carousel {
    max-width: 1200px;
    margin-bottom: 20px;
}

.d-block {
    max-height: 550px;
}

/* Kortit */

.card {
    background-color: #DDA35D;
    border: none;
    margin-bottom: 10px;
}

/* Footer */

footer {
    background-color: #E3DECA;
}

.footer-kaffia {
    margin: 20px 10px;
    border: none;
    border-radius: 0;
    width: 6em;
}